# this file contains processed data. should not be uploaded to github
data/processed_data/
# models should not be uploaded to github 
models/

# line graphs
src/Detectron2/evaluation/graphs/

# model output 
src/Detectron2/slurm_output
src/util/failure_analysis

# for failure analysis 
src/util/failure_recreation_output
src/util/line_graphs

# cross comaprison 
**/evaluation_output

# slurm logs 
**/logs

# claude
**/CLAUDE.models
/.claude
**/CLAUDE.md