monai
opencv-python
matplotlib
numpy
torch
torchvision
scipy
tqdm
pillow
opencv-python
datasets

git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/huggingface/transformers.git